@import url('../../../global.css');

.labelContainer{
    display: flex;
    gap: 0.2rem;
}

.formItemContainer{
    display: flex;
    flex-direction: column;
}

.iconImg{
    background-color: var(--iconBg);
    border-radius: 5px;
    padding: 0.4rem;
    width: 50px;
}

p{
    color: var(--validationColor);
    font-family:var(--font);
    font-size: 0.8rem;
    margin: 0.2rem;
}

input{
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;

}

