
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    display: grid;
    font-family: Arial;
    grid-template: 
    [row1-start]"header header header header" 130px [row1-end]
    [row2-start]"sec sec sec sec" [row2-end]
    / 1fr 1fr 1fr 1fr ;
    background-color: rgb(79, 63, 179);

    
}

.header{
    background-color: rgb(79, 63, 179);
    position:fixed;
    width: 100%;
    padding: 1rem;
    grid-area: header;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
/* hight = 1422 */
.section{
    grid-area: sec;
    background-color: white;
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 2.5rem;
    justify-content: space-evenly;
    align-items:stretch;

}

.card{

    display: flex;
    background-color: white;
    height: 500px;
    width: 300px;
    flex-direction:column;
    flex-basis:auto;
    border-radius: 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bgColor{
    width: 100%;
    height: 60%;
    border-radius: 15px;
}

.info{
    width: 100%;
    padding: 1rem;
}

.select{
    padding: 1rem;
    width: 150px;
    height: 50px;
    margin: 1rem;
    align-self:flex-end;
    bottom: 0; 
    right: 10px;
    border-radius: 15px 50px;    
}
h2{
    color: sandybrown;
}

.infoText{
    color: antiquewhite;
}

@media screen and (max-width: 1422px){
  
    .section{
        align-items:flex-start;
    }
}
@media screen and (max-width: 1100px){
  
    .section{
        align-items:flex-start;
        padding-left: 1rem;
    }
}
