@import url('../../global.css');

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

.login{
    height: 400px;
    width: 400px;

}

.form.register{
    height: 700px;
    width: 300px;
}

.text{
    color: var(--black);
}

.link{
    color: var(--linkColor);
    text-decoration: underline;
}

.link:hover{
    color: var(--linkHover);
}

.title{
    align-self: center;
    box-shadow: 0 5px 5px -5px;
    color: var(--buttonColor);
    padding: 1rem 4rem;
}