:root{
    --center-z-index: 10;
    --clockColor :darkslategrey;
    --font:'Courier New', Courier, monospace;
    --hands-z-index: 5;
    --handsColor : white;
    --rotation: 0;
    --secHandColor: palevioletred;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clockContainer{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.clock{
    background-color: var(--clockColor);
    border-radius:150px;
    box-shadow: 0 0 10px 10px var(--clockColor), inset 0 0 15px;
    display: grid;
    grid-template:[row1-start]". num12 ."[row1-end] [row2-start]"num9 hands num3"[row2-end] [row3-start]". num6 ."[row3-end]/ 200px 200px 200px;
    height: 600px;
    position: relative;
    width: 600px;  
}

.number{
    color:var(--handsColor);
    font-family: var(--font);
    font-size: 4rem;
    font-weight: bold;
    justify-self: center;
    padding: 2rem;
    position: absolute;
}

.number-3{
    align-self: center;
    grid-area: num3;
    justify-self: end;
}

.number-6{
    align-self: end;
    grid-area: num6;
    justify-self: center;
}

.number-9{
    align-self: center;
    grid-area: num9;
    justify-self: start;
}

.number-12{
    align-self: start;
    grid-area: num12;
    justify-self: center;
}

.hand{ 
    background-color: var(--handsColor);
    border-radius: 10px;  
    height: 250px;
    position: absolute;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    width: 15px;
    z-index: var(--hands-z-index);
}

.hand-container{
    grid-area: hands;    
}

.secHand{   
    background-color: var(--secHandColor);
    left: 49.5%;
    top: 9%;
    width: 3px;
}

.minHand{
    left: 49.5%;
    top: 9%;
    width: 7px;
}

.hourHand{
    height: 180px;
    left: 49.5%;
    top: 20%;
}

.center{
    background-color: var(--handsColor);
    border-radius: 30px;
    bottom: 47%;
    height: 30px;
    position: absolute;
    right: 45.5%;
    transform: translateX(-50%);
    width: 30px;
    z-index:var(--center-z-index);
}
