@import url('../../global.css');

.imgContainer{
    height: 300px;
    width: 200px;
}

.backgroundImg{
    height: 300px;
    width:200px;
}

.imgContainer.register{
    height: 0;
    width: 0;
}

.backgroundImg.register{
    height: 0;
    width: 0;
}
