@import url('../../global.css');

.formContainer{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    gap: 1rem;
    height: 400px;
    width: 800px;
} 

.register{
    align-items: flex-end;
    display: flex;
    height: 700px;
    padding: 1rem;
    width: 350px;

}
